.navBar {
  padding-top:  8px;
}

.navBar ul li{
  display: inline-block;
  padding: 15px 20px 0 0;
}

.navBar ul li:nth-child(2){
  padding-left: 10px;
}

.navBar ul li:nth-child(3){
  padding-left: 90px;
  line-height:10px;
}

.navBar ul li a{
  text-decoration: none;
  color: white;
  font-family:'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.navBar ul li a:hover {
  text-decoration: none;
  color: white;
  border-bottom:2px solid #fff;
 }
