.navBar {
  padding-top:  16px;
  margin-top:  12px;
}

.navBar ul li{
  display: inline-block;
  padding: 15px 20px 0 0;
}

.navBar ul li:nth-child(3){
  padding-left: 150px;
  line-height:10px;
}

.navBar ul li a{
  text-decoration: none;
  color: white;
  font-family:'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.navBar ul li a:hover {
  text-decoration: none;
  color: white;
  border-bottom:2px solid #fff;
 }
#logo_img{
  padding-bottom: 10px;
  border-bottom:2px solid #fff;
}
#slogan{
  position: absolute;
  top: 9%;
  left: 11.5%;
  font-size: 14px;
  color: white;
  font-weight: 400;
}
